:root {
    text-align: center;
}
#rpsPlayerImg, 
#rpsComputerImg {
    background-color: black;
    padding: 10px;
    border-radius: 6px;
}
.rps-imgs {
    display: inline-flex;
}
.rps-opponent {
    margin: 10px;
    text-align: center;
}
button {
    margin: 6px;
    width: 100px;
}